<div th:replace="~{layout :: layout(content = ~{:: content}, styles = ~{:: styles}, scripts = ~{:: scripts})}">
<th:block th:fragment="styles">
    <link rel="stylesheet" th:href="@{~/css/sound-card.css}">
    <link rel="stylesheet" th:href="@{~/css/comment-card.css}">
</th:block>
<th:block th:fragment="scripts">
    <script type="module" th:src="@{~/js/sound/view.js}"></script>
</th:block>
<div th:fragment="content">
    <div th:replace="~{fragments/sound-card :: sound-card(sound = ${sound})}"></div>
    <h3 th:text="#{sound.description}"></h3>
    <p th:text="${sound.getDescription()}"></p>
    <input type="number" id="sound-id" th:value="${comment.getSoundId()}" hidden>
    <div th:if="${#authorization.expr('!isAnonymous()')}">
        <h3 th:text="#{sound.view.comment.header}"></h3>
        <form id="form-comment" class="flex-col" th:action="@{~/api/put-comment}" th:method="post" th:object="${comment}">
            <textarea rows="3" id="field-comment-text" class="fullwidth" th:field="*{text}" th:placeholder="#{sound.view.comment_placeholder}" required></textarea>
            <p></p>
            <input type="number" id="field-sound-id" th:field="*{soundId}" hidden>
            <div><button type="submit" th:text="#{sound.view.comment}"></button></div>
        </form>
    </div>
    <h3 th:text="#{sound.view.comments}"></h3>
    <div id="comment-container"></div>
    <div hidden>
        <div th:replace="~{fragments/comment-card :: comment-card}"></div>
    </div>
</div>
</div>