<div th:replace="~{layout :: layout(content = ~{:: content}, styles = ~{:: styles}, scripts = ~{:: scripts})}">
<th:block th:fragment="styles">
    <link rel="stylesheet" th:href="@{~/css/sound-card.css}">
</th:block>
<th:block th:fragment="scripts">
    <script type="module" th:src="@{~/js/sound/view.js}"></script>
</th:block>
<div th:fragment="content">
    <div th:replace="~{fragments/sound-card :: sound-card(sound = ${sound})}"></div>
    <input type="number" id="sound-id" th:value="${comment.getSoundId()}" hidden>
    <div th:if="${#authorization.expr('!isAnonymous()')}">
        <h3>Leave comment</h3>
        <form id="form-comment" th:action="@{~/api/put-comment}" th:method="post" th:object="${comment}">
            <div>
                <textarea rows="3" id="field-comment-text" th:field="*{text}" required></textarea>
            </div>
            <input type="number" id="field-sound-id" th:field="*{soundId}" hidden>
            <button type="submit">Comment</button>
        </form>
    </div>
    <h3>Comments</h3>
    <div id="comment-container"></div>
    <div hidden>
        <div th:replace="~{fragments/comment-card :: comment-card}"></div>
    </div>
</div>
</div>