<!DOCTYPE html>
<div th:replace="~{layout :: layout(content = ~{:: content}, scripts = ~{:: scripts})}">
<th:block th:fragment="scripts">
    <script type="module" th:src="@{~/js/common/form-sender.js}"></script>
    <script type="module" th:src="@{~/js/common/file-input-redirect.js}"></script>
</th:block>
<div th:fragment="content">
    <h1 th:text="#{user.edit.header}"></h1>
    <form id="form-edit-user" class="flex-col main-form" th:action="@{~/api/patch-user}" th:method="post" th:object="${user}">
        <div class="flex-col">
            <input type="file" id="field-profile-picture" th:field="*{profilePicture}" hidden>
            <button type="button" id="redirect-field-profile-picture" th:text="#{select_file}"></button>
            <div class="flex-row">
                <label for="field-profile-picture"><h4 th:text="#{user.profile_picture}"></h4></label>
                <span id="profilePicture-error" class="form-error"></span>
                <span id="-error" class="form-error"></span>
                <span id="user-error" class="form-error"></span>
            </div>
        </div>
        <div class="flex-col">
            <input type="text" id="field-username" th:field="*{username}" th:placeholder="#{user.username_placeholder}" required>
            <div class="flex-row">
                <label for="field-username"><h4 th:text="#{user.username}"></h4></label>
                <span id="username-error" class="form-error"></span>
            </div>
        </div>
        <div class="flex-col">
            <textarea id="field-bio" rows="5" th:field="*{bio}" th:placeholder="#{user.bio_placeholder}"></textarea>
            <div class="flex-row">
                <label for="field-bio"><h4 th:text="#{user.bio}"></h4></label>
                <span id="bio-error" class="form-error"></span>
            </div>
        </div>
        <div class="flex-col">
            <input type="text" id="field-email" th:field="*{email}" th:placeholder="#{user.email_placeholder}" required>
            <div class="flex-row">
                <label for="field-email"><h4 th:text="#{user.email}"></h4></label>
                <span id="email-error" class="form-error"></span>
            </div>
        </div>
        <div class="flex-col">
            <input type="password" id="field-password" th:field="*{password}" th:placeholder="#{user.edit.password_placeholder}">
            <div class="flex-row">
                <label for="field-password"><h4 th:text="#{user.edit.password}"></h4></label>
                <span id="password-error" class="form-error"></span>
            </div>
        </div>
        <div class="flex-col">
            <input type="password" id="field-password-confirmation" th:field="*{passwordConfirmation}" th:placeholder="#{user.edit.password_confirmation_placeholder}">
        </div>
        <button type="submit" th:text="#{edit}"></button>
    </form>
</div>
</div>
