<!DOCTYPE html>
<div th:replace="~{layout :: layout(content = ~{:: content}, scripts = ~{:: scripts})}">
<th:block th:fragment="scripts">
    <script type="module" th:src="@{~/js/common/form-sender.js}"></script>
</th:block>
<div th:fragment="content">
    <h1 th:text="#{sign_up}"></h1>
    <form id="form-register-user" class="flex-col main-form" th:action="@{~/api/put-user}" th:method="post" th:object="${user}">
        <div class="flex-col">
            <input type="text" id="field-username" th:field="*{username}" th:placeholder="#{user.username_placeholder}" required>
            <div class="flex-row">
                <label for="field-username"><h4 th:text="#{user.username}"></h4></label>
                <span id="username-error" class="form-error"></span>
                <span id="user-error" class="form-error"></span>
            </div>
        </div>
        <div class="flex-col">
            <input type="text" id="field-email" th:field="*{email}" th:placeholder="#{user.email_placeholder}" required>
            <div class="flex-row">
                <label for="field-email"><h4 th:text="#{user.email}"></h4></label>
                <span id="email-error" class="form-error"></span>
            </div>
        </div>
        <div class="flex-col">
            <input type="password" id="field-password" th:field="*{password}" th:placeholder="#{user.password_placeholder}" required>
            <div class="flex-row">
                <label for="field-password"><h4 th:text="#{user.password}"></h4></label>
                <span id="password-error" class="form-error"></span>
            </div>
        </div>
        <div class="flex-col">
            <input type="password" id="field-password-confirmation" th:field="*{passwordConfirmation}" th:placeholder="#{user.password_confirmation_placeholder}" required>
        </div>
        <button type="submit" th:text="#{sign_up}"></button>
    </form>
</div>
</div>