<div th:replace="~{layout :: layout(~{:: content})}">
<div th:fragment="content">
    <h1>Sign up</h1>
    <form id="form-register-user" class="flex-col main-form" th:action="@{~/api/put-user}" th:method="post" th:object="${user}">
        <div class="flex-col">
            <input type="text" id="field-username" th:field="*{username}" placeholder="Enter username" required>
            <label for="field-username"><h4>Username</h4></label>
        </div>
        <div class="flex-col">
            <input type="text" id="field-email" th:field="*{email}" placeholder="Enter email" required>
            <label for="field-email"><h4>Email</h4></label>
        </div>
        <div class="flex-col">
            <input type="password" id="field-password" th:field="*{password}" placeholder="Enter password" required>
            <label for="field-password"><h4>Password</h4></label>
        </div>
        <div class="flex-col">
            <input type="password" id="field-password-confirmation" th:field="*{passwordConfirmation}" placeholder="Confirm password" required>
        </div>
        <button type="submit">Sign up</button>
    </form>
    <script type="module" th:src="@{~/js/user/register.js}"></script>
</div>
</div>