<div th:replace="~{layout :: layout(content = ~{:: content}, styles = ~{:: styles}, scripts = ~{:: scripts})}">
<th:block th:fragment="styles">
    <link rel="stylesheet" th:href="@{~/css/user-profile.css}">
    <link rel="stylesheet" th:href="@{~/css/sound-card.css}">
</th:block>
<th:block th:fragment="scripts">
    <script type="module" th:src="@{~/js/common/sound-loader.js}"></script>
</th:block>
<div class="flex-col" th:fragment="content">
    <h1 th:text="${viewedUser.getUsername()}">Admin</h1>
    <div class="flex-row">
        <div class="flex-col">
            <img id="profile-img" th:src="@{'/api/get-profile-picture?id=' + ${viewedUser.getProfilePicture().getId()}}" alt="profile picture">
            <span id="registration-date">On Trembeat since <span th:text="${#dates.year(viewedUser.getRegistrationDate())}"></span></span>
        </div>
        <div id="bio-container" class="flex-col">
            <h3 id="bio-label">Bio</h3>
            <p th:text="${viewedUser.getBio()}"></p>
        </div>
    </div>
    <h2>Uploads</h2>
    <div id="sound-card-container"></div>
    <div hidden>
        <div th:replace="~{fragments/sound-card :: sound-card}"></div>
    </div>
</div>
</div>
