<div th:replace="~{layout :: layout(~{:: content})}">
<div th:fragment="content" class="container">
    <div class="card w-25">
        <img th:src="@{'/api/get-profile-picture?id=' + ${viewedUser.getProfilePicture().getId()}}" class="card-img-top" alt="profile picture">
        <div class="card-body">
            <h5 class="card-title" th:text="${viewedUser.getUsername()}"></h5>
            <p class="card-text" th:text="${viewedUser.getBio()}"></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Email: <span th:text="${viewedUser.getEmail()}"></span>
            </li>
            <li class="list-group-item">
                Registration date: <span th:text="${viewedUser.getRegistrationDate()}"></span>
            </li>
        </ul>
    </div>
    <h2>Uploads</h2>
    <div id="sound-card-container"></div>
    <div hidden>
        <div th:replace="~{fragments/sound-card :: sound-card}"></div>
    </div>
    <script type="module" th:src="@{~/js/common/sound-loader.js}"></script>
</div>
</div>
