<th:block th:fragment="header-styles">
    <link rel="stylesheet" th:href="@{~/css/header.css}">
</th:block>
<th:block th:fragment="header-scripts">
    <script type="module" th:src="@{~/js/common/header.js}"></script>
</th:block>
<div id="header-container" th:fragment="header">
    <header class="flex-row fixed fullwidth">
        <div class="main-container">
            <ul class="bordered">
                <li id="logo"><a class="btn" th:href="@{~/}"><span>Trembeat</span></a></li>
                <li><a class="btn-secondary" href="/sound" th:href="@{~/sound}"><span>Explore</span></a></li>
                <li><a class="btn-secondary" th:href="@{~/sound/upload}"><span>Upload</span></a></li>
            </ul>
            <form id="form-header-search" th:action="@{~/api/get-sounds}" th:method="post">
                <input type="search" id="field-header-search-title" name="fieldSearchTitle" placeholder="Search for music" autocomplete="off">
                <button type="submit"><span>Search</span></button>
            </form>
            <ul th:if="${#authorization.expr('isAnonymous()')}">
                <li><a class="btn-secondary" th:href="@{~/login}"><span>Sign in</span></a></li>
                <li><a class="btn" th:href="@{~/register}"><span>Sign up</span></a></li>
            </ul>
            <a th:if="${#authorization.expr('!isAnonymous()')}">
                <img id="header-user-picture" th:src="@{'/api/get-profile-picture?id=' + ${#authentication.principal.profilePicture.id}}" alt="profile picture">
                <input type="number" id="field-authentication-id" th:value="${#authentication.principal.id}" hidden>
            </a>
        </div>
    </header>
    <div th:if="${#authorization.expr('!isAnonymous()')}" hidden>
        <ul id="menu-header-profile" class="menu">
            <li><a th:href="@{'/user/' + ${#authentication.principal.id}}"><span>View profile</span></a></li>
            <li><a th:href="@{~/edit-profile}"><span>Edit profile</span></a></li>
            <li><a th:href="@{~/sound/upload}"><span>Upload</span></a></li>
            <li class="menu-divider"></li>
            <li class="menu-danger"><a th:href="@{~/logout}"><span>Logout</span></a></li>
        </ul>
    </div>
</div>