<th:block th:fragment="header-styles">
    <link rel="stylesheet" th:href="@{~/css/header.css}">
</th:block>
<th:block th:fragment="header-scripts">
    <script type="module" th:src="@{~/js/common/header.js}"></script>
    <script type="module" th:src="@{~/js/common/search-suggestion.js}"></script>
</th:block>
<div id="header-container" th:fragment="header">
    <header class="flex-row fixed fullwidth">
        <div class="main-container">
            <ul class="bordered">
                <li id="logo"><a class="btn" th:href="@{~/}"><span th:text="#{project_name}"></span></a></li>
                <li><a class="btn-secondary" href="/sound" th:href="@{~/sound}"><span th:text="#{header.explore}"></span></a></li>
                <li><a class="btn-secondary" th:href="@{~/sound/upload}"><span th:text="#{header.upload}"></span></a></li>
            </ul>
            <form id="form-header-search" th:action="@{~/api/get-sounds}" th:method="post">
                <input type="search" id="field-header-search-title" class="field-search-title" th:placeholder="#{header.search_placeholder}" autocomplete="off">
                <button type="submit" class="btn-submit-search"><span th:text="#{search}"></span></button>
            </form>
            <ul>
                <li><a id="btn-lang" class="btn-secondary"><span th:text="#{lang.current}"></span></a></li>
                <th:block th:if="${#authorization.expr('isAnonymous()')}">
                    <li><a class="btn-secondary" th:href="@{~/login}"><span th:text="#{sign_in}"></span></a></li>
                    <li><a class="btn" th:href="@{~/register}"><span th:text="#{sign_up}"></span></a></li>
                </th:block>
                <li th:if="${#authorization.expr('!isAnonymous()')}">
                    <a>
                        <img id="header-user-picture" th:src="@{'/api/get-profile-picture?id=' + ${#authentication.principal.profilePicture.id}}" alt="profile picture">
                        <input type="number" id="field-authentication-id" th:value="${#authentication.principal.id}" hidden>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div hidden>
        <ul id="menu-header-profile" class="menu" th:if="${#authorization.expr('!isAnonymous()')}">
            <li><a th:href="@{'/user/' + ${#authentication.principal.id}}"><span th:text="#{header.view_profile}"></span></a></li>
            <li><a th:href="@{~/edit-profile}"><span th:text="#{header.edit_profile}"></span></a></li>
            <li><a th:href="@{~/sound/upload}"><span th:text="#{header.upload}"></span></a></li>
            <li class="menu-divider"></li>
            <li class="menu-danger"><a th:href="@{~/logout}"><span th:text="#{sign_out}"></span></a></li>
        </ul>
        <ul id="menu-header-lang" class="menu">
            <li><a href="?lang=en"><span th:text="#{lang.en}"></span></a></li>
            <li><a href="?lang=ua"><span th:text="#{lang.ua}"></span></a></li>
        </ul>
        <ul id="menu-suggestions" class="menu">
            <li class="menu-item"><a><span class="menu-item-text"></span></a></li>
        </ul>
    </div>
</div>