<!--/*@thymesVar id="sound" type="com.trembeat.domain.viewmodels.SoundViewModel"*/-->
<div th:fragment="sound-card" id="sound-card" class="card text-center w-25">
    <img th:src="@{'/api/get-cover?id=' + ${sound?.getCover()?.getId()}}" class="card-img-top --d-sound-cover" alt="cover image">
    <div class="card-body">
        <h3 class="card-title --d-sound-title" th:text="${sound?.getTitle()} ?: ''"></h3>
        <p class="card-text">
            By <span class="--d-sound-author" th:text="${sound?.getAuthor()?.getUsername()} ?: ''"></span>
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Genre: <span class="--d-sound-genre" th:text="${sound?.getGenreName()} ?: ''"></span>
        </li>
        <li class="list-group-item">
            <audio controls>
                <source class="--d-sound-src" th:src="${'/api/get-sound-data?id=' + sound?.getId()} ?: ''">
            </audio>
        </li>
        <li class="list-group-item">
            <form th:action="@{~/api/bump-sound}" class="--d-sound-form-bump" th:method="post">
                <input type="number" name="id" class="--d-sound-id" th:value="${sound?.getId()} ?: ''" hidden>
                <button type="submit" class="btn btn-primary">Bump</button>
            </form>
        </li>
    </ul>
</div>