header {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: var(--size-height-header);
    max-height: var(--size-height-header);
    background-color: var(--color-bg-secondary);
}

header .main-container {
    border-bottom: var(--color-fg-secondary) solid var(--size-border-thin);
}

header .main-container, header .main-container > * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul li, #form-header-search > * {
    display: flex;
    align-items: stretch;
}

header ul li a , #form-header-search > * > * {
    display: flex;
    align-items: center;
}

header ul.bordered li {
    border-right: var(--size-border-thin) solid var(--color-bg-secondary-dim);
}

#header-container {
    margin-bottom: var(--size-height-header);
}

#logo {
    font-size: var(--size-font-bigger);
    font-weight: bold;
    letter-spacing: 0.1rem;
    background-color: var(--color-fg-secondary) !important;
}

#field-search-title {
    width: calc(var(--size-main-container) * 0.25);
}

#header-user-picture {
    z-index: -1;
    width: var(--size-height-header);
    height: var(--size-height-header);
}
