#main-img-container {
    min-width: fit-content;
    min-height: fit-content;
    margin-bottom: -5rem;
}

#main-img {
    width: calc(100% + 64px);
    margin: -12px -32px;
}

#main-title {
    position: relative;
    left: 500px;
    top: -320px;
    background-color: var(--color-bg-secondary);
    font-weight: 800;
    font-size: 6rem;
    letter-spacing: 0.3rem;
    text-shadow: var(--color-fg-secondary) 3px 3px 0px;
    border: calc(var(--size-border-thick) * 2) solid var(--color-fg-secondary);
    color: var(--color-fg-primary);
    padding: 32px 64px;
}