@import "reset.css";
@import "vars.css";

html {
    /* TODO: choose font */
    font-family: sans-serif;
    background-color: var(--color-bg-primary);
    color: var(--color-fg-primary);
    font-size: var(--size-font-normal);
    overflow: scroll;
}

input[type="search"] {
    background-color: var(--color-bg-primary);
    color: var(--color-fg-primary);
    padding: 4px 8px;
}

.fullwidth {
    width: 100%;
}

.fullheight {
    height: 100%;
}

.main-container {
    min-width: var(--size-main-container);
    max-width: var(--size-main-container);
}

.fixed {
    position: fixed;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.btn, button {
    background-color: var(--color-fg-secondary);
    color: var(--color-fg-primary);
}

.btn:hover, button:hover {
    background-color: var(--color-fg-secondary-dim);
    text-shadow: var(--color-fg-primary) 0px 0px 1px;
}

.btn, .btn-secondary, button {
    cursor: pointer;
    padding: 0px 16px;
}

.btn *, .btn-secondary * {
    user-select: none;
}

.btn-secondary:hover {
    color: var(--color-fg-secondary);
}

ul.menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: var(--size-border-thin) solid var(--color-bg-secondary);
    background-color: var(--color-bg-secondary-dim);
    padding: 8px 0px;
    z-index: 100;
}

ul.menu li:not(.menu-divider) {
    display: flex;
    align-items: stretch;
    font-size: var(--size-font-smaller);
    padding: 10px 64px 10px 12px;
    cursor: pointer;
}

ul.menu li > * {
    display: flex;
    align-items: center;
}

ul.menu .menu-divider {
    margin: 4px 4px;
    border-bottom: var(--size-border-thin) solid var(--color-bg-primary);
}

ul.menu li:hover {
    background-color: var(--color-fg-primary-dim);
    text-shadow: var(--color-fg-primary) 0px 0px 1px;
}

#menu-header-profile {
    position: absolute;
}
