:root {
    --color-bg-primary: #222;
    --color-bg-secondary: #111;
    --color-bg-secondary-dim: #2b2b2b;
    --color-fg-primary: #efe8e8;
    --color-fg-primary-dim: #777;
    --color-fg-secondary: #d22;
    --color-fg-secondary-dim: #a00;

    --size-border-thin: 1px;
    --size-border-thick: 2px;
    --size-font-smaller: 0.88rem;
    --size-font-normal: 0.92rem;
    --size-font-accent: 1.1rem;
    --size-font-bigger: 1.4rem;
    --size-font-big: 1.8rem;
    --size-font-biggest: 2.6rem;
    --size-height-header: 44px;
    --size-height-footer: 44px;
    --size-height-track: 8px;
    --size-main-container: 1280px;
}