<!DOCTYPE html>
<html lang="en" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trembeat</title>
    <link rel="stylesheet" th:href="@{~/css/site.css}">
    <link rel="stylesheet" th:href="@{~/css/header.css}">
    <link rel="stylesheet" th:href="@{~/css/footer.css}">
    <link rel="stylesheet" th:href="@{~/css/form.css}">
</head>
<body>
<header th:replace="~{fragments/header :: header (user = ${user})}"></header>
<div id="content-container" class="flex-row fullwidth">
    <div class="flex-col main-container">
        <div th:replace="${content}"></div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>