<!DOCTYPE html>
<html lang="en" th:fragment="layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trembeat</title>
    <link rel="stylesheet" th:href="@{~/css/site.css}">
    <link rel="stylesheet" th:href="@{~/css/footer.css}">
    <link rel="stylesheet" th:href="@{~/css/form.css}">
    <link th:replace="~{fragments/header :: header-styles}">
    <th:block th:if="${styles}"><link th:replace="${styles}"></th:block>
    <link th:replace="~{fragments/footer :: footer-styles}">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div id="content-container" class="flex-row fullwidth">
    <div class="flex-col main-container">
        <div th:replace="${content}"></div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script th:replace="~{fragments/header :: header-scripts}"></script>
<th:block th:if="${scripts}"><script th:replace="${scripts}"></script></th:block>
<script th:replace="~{fragments/footer :: footer-scripts}"></script>
</body>
</html>